@-webkit-keyframes rotation1 {
from {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}
}

@-moz-keyframes rotation1 {
from {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}
}

@-o-keyframes rotation1 {
from {
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-o-transform:rotate(0deg);
transform:rotate(0deg)
}
to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
}
}

.astronomy {
    left: 50%;
    margin-left: -303px;
    max-width: 607px;
    position: absolute;
    text-align: center;
    top: 68px;
    width: 100%
}
.astronomy .vector {
    left: 0;
    position: absolute;
    top: 0
}
.vector1 {
    -moz-animation: rotation1 30s linear infinite;
    -o-animation: rotation1 30s linear infinite;
    -webkit-animation: rotation1 30s linear infinite;
    animation: rotation1 30s linear infinite
}

a{
    color:#006600; text-decoration:none;
}
a:hover{
    color:#990000;
}

body{ 
    background:#EEEEEE;
    margin:0; padding:0; 
    font-family:"微软雅黑", Arial, Helvetica, sans-serif;
}
.vector {
    -webkit-border-radius:50%;
    width:200px;
}

.play-ctrl {
    background: url('ui.png') no-repeat;
    background-position: -23px 0;
    display: block;
    width: 34px;
    height: 36px;
    position: absolute;
    top: 78px;
    left: 80px; 
}

.playing {
    background-position: -64px -40px;
}

#astronomy a:hover {
    background-position: -1px -106px;
}

.soure{
    display: block;
    position: fixed;
    _position: absolute;
    top: 0;
    right: 0;
    top: -20px\9;
    right: -20px\9;
    width: 200px;
    height: 28px;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    font-size: 14.040000000000001px;
    line-height: 28px;
    text-align: center;
    -webkit-transform: translate(45px,45px) rotate(45deg) translateZ(0);
    -moz-transform: translate(45px,45px) rotate(45deg);
    -o-transform: translate(45px,45px) rotate(45deg);
    transform: translate(45px,45px) rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',M11=.7,M12=0.6,M21=-.7,M22=0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
    -o-box-shadow: 0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.soure:hover{
    background-color: #8A0A0A;
    color:white;
}